@keyframes slideRightWithOpacity {
  from {
    transform: translateX(-100%);
    opacity: 0.1;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.loginContent {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
  padding: 2vh 2vw;
}
.loginDiv {
  width: 750px;
  height: 100%;
  background-color: var(--background);
  border-radius: 12px;
  box-shadow: var(--shad-3d);
  animation: slideRightWithOpacity 0.7s ease;
  padding: 30px;
  justify-content: space-around;
}
.logoLoginDiv {
  width: 340px;
  height: auto;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 20px 40px;
}
.logoLoginDiv img {
  width: 300px;
}

.circleInputs {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  color: var(--white-primary);
  background-color: var(--blue-primary);
}

.invitesDivContent {
  border-radius: 8px;
  border: 1px solid #999999;
  padding: 10px;
  width: 140px;
  justify-content: flex-start;
  align-items: flex-start;
}

.titleLogin {
  width: 500px;
  align-items: flex-start !important;
  margin-top: -40px;
  margin-bottom: -40px;
}
.titleLogin h1 {
  font-size: 30px;
}

.titleRecover {
  width: 500px;
  justify-content: flex-start !important;
  margin-top: -40px;
  margin-bottom: -40px;
}
.titleRecover h1 {
  font-size: 22px;
}

.inputsDivLogin {
  width: 500px;
  align-items: flex-start;
  gap: 20px;
}
.inputDiv {
  width: 100%;
}

.inputDivListContent {
  padding: 10px;
  width: 95%;
  max-height: 150px;
  overflow-y: scroll;
  justify-content: flex-start;
}

.inputDivList {
  border-radius: 8px;
  border: 1px solid #999999;
  padding: 5px 20px;
  width: 100%;
  justify-content: flex-start;
  cursor: pointer;
}

.inputDivPassword {
  width: 100%;
  position: relative;
}
.inputDivPassword .passwordIcon {
  position: absolute;
  right: 15px;
  z-index: 1;
}

.inputDivError {
  width: 100%;
  font-size: 13px;
  color: var(--red-primary);
}

.btnLoginDiv {
  width: 100%;
}
.forgotLoginDiv {
  width: 100%;
  gap: 15px;
  cursor: pointer;
}
.forgotLoginDiv p {
  color: var(--secondary);
  text-decoration: underline;
  font-weight: 500;
}
.helpLoginDiv {
  width: 100%;
  gap: 15px;
}
.helpLoginDiv a {
  color: var(--secondary);
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

.titleLoginLitle {
  display: none;
}

@media (max-width: 750px) {
  .loginDiv {
    width: 100%;
  }
  .titleLogin {
    width: 80%;
  }
  .titleRecover {
    width: 80%;
  }

  .inputsDivLogin {
    width: 80%;
  }
}
@media (max-width: 560px) {
  .titleLogin {
    width: 95%;
  }
  .titleRecover {
    width: 95%;
  }

  .inputsDivLogin {
    width: 95%;
  }
  .btnRecoverPassword {
    width: auto !important;
  }
}

@media (max-width: 460px) {
  .titleLogin {
    width: 100%;
  }
  .titleRecover {
    width: 100%;
  }

  .inputsDivLogin {
    width: 100%;
  }
  .logoLoginDiv {
    width: 100%;
  }
  .logoLoginDiv img {
    width: auto;
  }
}
@media (max-width: 410px) {
  .forgotLoginDiv {
    flex-direction: column;
  }
  .titleLogin {
    display: none;
  }
  .titleLoginLitle {
    display: flex;
  }
  .verifyEmail h1 {
    font-size: 18px !important;
  }
  .verifyEmail {
    margin-left: 5px !important;
    font-size: 30px !important;
  }
  .btnRecoverPassword {
    font-size: 18px !important;
  }
}
