.topbarMain {
  width: 100%;
  padding: 20px 30px 10px 30px;
}
.topbarContent {
  background-color: var(--white-primary);
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: var(--shad-ligth);
}
.topbarPageTitle {
  width: 30%;
  cursor: pointer;
}
.topbarPageTitle h1 {
  font-size: 22px;
  font-weight: 600;
  color: var(--blue-primary);
  white-space: nowrap;
}
.topbarPageTitle .topbarTitleIcon {
  font-size: 32px;
  color: var(--blue-primary);
}
.topbarPageHello {
  width: 35%;
  height: 40px;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}
.topbarPageGetOut {
  background-color: var(--white-primary);
  border: 1px solid var(--white-secondary);
  box-shadow: var(--shad-3d);
  border-radius: 10px 0 30px 10px;
  min-height: 60px;
  min-width: 250px;
  padding: 10px 20px;
  position: absolute;
  top: 40px;
  right: 40px;
  transition: all 1s ease;
  display: flex;
  align-items: flex-start;
  z-index: 999;
}
.topbarPageMidle {
  width: 100%;
}
.topbarPageHello h2 {
  font-size: 15px;
  font-weight: 400;
}
.topbarPageHello span {
  font-size: 26px;
  font-weight: 500;
}
.topbarMidleContent {
  background-color: var(--white-secondary);
  padding: 0 0 0 30px;
  min-height: 40px;
  border-radius: 40px;
  gap: 20px;
}
.topbarMidleContent h4 {
  white-space: nowrap;
}
.topbarMidleButton {
  background-color: var(--blue-third);
  padding: 10px 30px;
  min-height: 40px;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 600;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.topbarMidleButton:hover {
  background-color: var(--blue-fourth);
}

.topbarMenuItemActive {
  border-radius: 8px;
  text-align: left;
  cursor: pointer;
  padding: 5px 10px;
  border-left: 5px solid transparent;
  white-space: nowrap;
}
.topbarMenuItemActive:hover {
  background-color: var(--white-secondary);
}

.topbarMenuIcon {
  color: rgb(0, 0, 97) !important;
  background-color: rgb(255, 255, 255) !important;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  padding: 1px;
}

.topbarTextMenu {
  font-size: 16px;
  font-weight: 400;
  color: var(--blue-primary);
  transition: all 1s ease;
}

@media (max-width: 1150px) {
  .topbarMidleContent {
    background-color: transparent;
    padding: 0;
    min-height: 0;
    border-radius: 40px;
    gap: 0;
  }
  .topbarMidleContent h4 {
    display: none;
  }
}

@media (max-width: 1050px) {
  .topbarPageTitle {
    width: auto;
  }
  .topbarPageTitle h1 {
    font-size: 18px;
  }
  .topbarPageHello h2 {
    font-size: 14px;
  }
  .topbarPageHello span {
    font-size: 18px;
  }
  .topbarMain {
    padding: 20px 3vw;
  }
  .topbarContent {
    padding: 20px 10px;
  }
}
@media (max-width: 650px) {
  .topbarPageTitle {
    display: none;
  }
  .topbarPageHello {
    width: 50%;
    height: 40px;
  }
  .topbarPageMidle {
    width: 50%;
    height: 40px;
  }
  .topbarMidleButton {
    padding: 10px 5px;
    font-size: 14px;
  }
  .topbarPageHello h2 {
    font-size: 13px;
  }
  .topbarMain {
    padding: 0;
  }
  .topbarContent {
    border-radius: 0;
  }
}

/* ******************************************* NEW TOP BAR */

.newTopMain {
  width: 100%;
  margin: 0;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  padding: 0 5%;
}
.newTopInvitesMain {
  width: 100%;
  margin: 0;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  padding: 0 5%;
}
.newTopMail {
  background-color: var(--blue-primary);
  border-radius: 6px;
  padding: 7px 10px;
  position: relative;
}
.totalinvitesMain {
  background-color: var(--white-primary);
  border-radius: 10px;
  box-shadow: var(--shad-ligth);
  border-radius: 6px;
  padding: 1px 30px;
  gap: 15px;
}
.totalinvitesMain h2 {
  color: var(--blue-primary);
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
}
.totalinvitesMain h1 {
  color: var(--blue-primary);
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
}
.newTopInvites {
  background-color: var(--green-secondary);
  border-radius: 6px;
  padding: 7px 10px;
  position: relative;
}
.newTopSitemap {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0 0 20px 0;
  flex-wrap: nowrap;
  gap: 15px;
}
.newTopSitemap h1 {
  color: var(--blue-primary);
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
}
.newTopUserBox {
  gap: 10px;
}
.newTopMailAcent {
  background-color: var(--red-primary);
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: absolute;
  top: -5px;
  right: -5px;
  color: var(--white-primary);
  font-size: 10px;
}

.newTopBox {
  background-color: var(--white-primary);
  border-radius: 6px;
  padding: 7px 40px 7px 10px;
  position: relative;
  gap: 13px;
}

.newTopBox h6 {
  color: var(--blue-primary);
  font-size: 12px;
  font-weight: 700;
}
.newTopBox p {
  color: var(--grey-ligth);
  font-size: 10px;
  font-weight: 400;
  width: 100%;
  text-align: left;
}

@media (max-width: 640px) {
  .newTopInvitesMain {
    flex-direction: column;
    align-items: flex-end;
  }
  .newTopSitemap {
    padding: 0;
  }
}
