@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;

  --primary: #071930;
  --secondary: #25335a;

  --blue-primary: #071930;
  --blue-secondary: #25335a;
  --blue-third: #02dbdd;
  --blue-fourth: rgb(0, 192, 195);
  --blue-disabled: #899cb6;

  --red-primary: #ff0000;
  --green-primary: #1ca900;
  --green-secondary: #49fc8e;
  --orange-primary: #ff9100;
  --orange-secondary: #ffb75a;

  --grey-ligth: #777777;
  --grey-secondary: #ebecf0;
  --grey-ultra-ligth: #dfe0e6;

  --blue-primary-opacity: rgba(7, 25, 48, 0.269);
  --blue-secondary-opacity: #25335a5a;
  --blue-fourth-opacity: rgba(0, 192, 195, 0.198);

  --white-primary: #ffffff;
  --white-secondary: #f3f3f3;

  --black-primary: #000000;

  --acent: #60f4ca;

  --title: #000000;
  --text: #222222;
  --other-text: #444444;

  --black-opacity-ligth: rgba(0, 0, 0, 0.139);

  --gradient: radial-gradient(
    circle,
    rgba(11, 21, 56, 1) 0%,
    rgba(16, 33, 57, 1) 100%
  );

  --shad-3d: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  --shad-dark: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --shad-ligth: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--background);
  color: var(--title);
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

.layoutSize {
  width: 100%;
  height: 100vh;
}

.layoutSizeNew {
  width: 100%;
  height: 100vh;
  padding: 30px 0;
}

h1 {
  font-weight: 500;
  font-size: 32px;
  color: var(--blue-primary);
}

h2 {
  font-weight: 500;
  font-size: 28px;
  color: var(--blue-primary);
}
h3 {
  color: var(--blue-primary);
}
h4 {
  color: var(--blue-primary);
}
h5 {
  color: var(--blue-primary);
}
h6 {
  color: var(--blue-primary);
}

p {
  font-weight: 300;
  font-size: 16px;
}
form {
  --tw-ring-color: none;
}

.flexr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.flexc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputStyle {
  width: 100%;
  height: auto;
}
.inputStyleDouble {
  width: 100%;
  max-width: 50%;
  height: auto;
}

.inputStyleSearch {
  width: auto;
  max-width: 200px;
  height: auto;
}

.page-transition {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.btnBlue {
  width: auto;
  height: auto;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--blue-primary);
  background-color: var(--blue-primary);
  color: var(--white-primary);
  font-size: 20px;
  font-weight: bold;
}
.btnBlue:hover {
  border: 1px solid var(--blue-secondary);
  background-color: var(--blue-secondary);
  color: var(--white-primary);
}

.btnOrange {
  width: auto;
  height: auto;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--orange-primary);
  background-color: var(--orange-primary);
  color: var(--blue-primary);
  font-size: 20px;
}
.btnOrange:hover {
  border: 1px solid var(--orange-secondary);
  background-color: var(--orange-secondary);
  color: var(--blue-primary);
}

.btnBlueThird {
  width: auto;
  height: auto;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--blue-third);
  background-color: var(--blue-third);
  color: var(--black-primary);
  font-size: 20px;
}
.btnBlueThird:hover {
  border: 1px solid var(--blue-fourth);
  background-color: var(--blue-fourth);
  color: var(--black-primary);
}

.btnDisabled {
  width: auto;
  height: auto;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--grey-ligth);
  background-color: var(--white-secondary);
  color: var(--black-primary);
  font-size: 20px;
}

.errorP {
  font-size: 12px;
  color: var(--red-primary);
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* *************** DASHBOARD LAYOUT */

.dashBody {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  background-color: var(--white-secondary) !important;
}

/* *************** NOT FOUND  */
.notFoundContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 400px;
  background-color: var(--white-primary);
  border-radius: 15px;
  gap: 20px;
}

.notFoundContent h1 {
  font-weight: 600;
  font-size: 100px;
  margin: 0;
  color: var(--other-text);
}
.notFoundContent p {
  font-weight: 300;
  font-size: 22px;
  color: var(--other-text);
}
.notFoundContent button {
  width: 200px;
  margin: 40px 0;
}

/* *************** ALL MODAL  */

.mainModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--black-opacity-ligth);
  z-index: 9;
}
.contentModal {
  width: 40vw;
  height: auto;
  position: relative;
  background-color: var(--white-primary);
  border-radius: 15px;
  z-index: 10;
}

.modalClose {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--white-primary);
  position: absolute;
  top: -25px;
  right: -25px;
  box-shadow: var(--shad-3d);
  cursor: pointer;
}

/* *************** DELETE MODAL  */

.deleteModalDiv {
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
}

.deleteModalDiv h2 {
  font-size: 22px;
  width: 100%;
  text-align: center;
}

.deleteModalBtnDiv {
  width: 100%;
  height: auto;
  gap: 20px;
}

/* *************** GALERY MODAL  */

.contentGuestEventChoice {
  min-width: 700px;
  min-height: 250px;
  width: auto;
  height: auto;
  background-color: var(--white-primary);
  border-radius: 15px;
  z-index: 999999;
  padding: 40px 20px;
  justify-content: flex-start;
  gap: 60px;
}
.guestEventChoiceLine {
  width: 100%;
  gap: 20px;
}
.guestEventChoice {
  border-radius: 10px;
  background-color: var(--blue-third);
  color: var(--blue-primary);
  font-size: 22px;
  font-weight: 600;
  padding: 10px 40px;
  transition: all 0.3s ease;
  border: 1px solid var(--blue-third);
}
.guestEventChoice:hover {
  background-color: var(--blue-fourth);
  border: 1px solid var(--blue-primary);
  color: var(--black-primary);
  transform: scale(1.1);
}
.infoWarningEventChoice {
  width: 100%;
  text-align: end;
  font-size: 12px;
  font-weight: 500;
  color: var(--red-primary);
}

@media (max-width: 740px) {
  .contentGuestEventChoice {
    min-width: auto;
    width: 95vw;
    background-color: var(--white-primary);
    border-radius: 15px;
    z-index: 10;
  }

  .layoutSize {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 390px) {
  .contentGuestEventChoice {
    min-width: auto;
    width: 95vw;
    background-color: var(--white-primary);
    border-radius: 15px;
    z-index: 10;
  }
  .contentGuestEventChoice h2 {
    font-size: 20px;
  }
  .guestEventChoice {
    font-size: 16px;
    padding: 10px 20px;
  }
}

/* ************************* INVITE MODAL */

.inviteList {
  width: 100%;
  margin: 20px;
  padding: 30px 20px;
  align-items: flex-end;
  gap: 10px;
}

.inviteList h1 {
  width: 100%;
  text-align: center;
  font-size: 22px;
  padding-bottom: 20px;
}

.inviteLine {
  width: 100%;
  min-height: 40px;
  background-color: var(--blue-third);
  border: 1px solid var(--white-secondary);
  border-radius: 8px;
  position: relative;
  justify-content: flex-start;
  padding: 0 20px;
}
.inviteLineOther {
  width: 90%;
  min-height: 40px;
  background-color: var(--white-secondary);
  border: 1px solid var(--white-secondary);
  border-radius: 8px;
  position: relative;
  justify-content: flex-start;
  padding: 0 20px;
}

.downBtn {
  position: absolute;
  width: 40px;
  height: 30px;
  background-color: var(--blue-secondary);
  border-radius: 8px;
  right: 10px;
  cursor: pointer;
}

.downBtnDisabled {
  display: none;
}

/* ************************* IMAGE MODAL */

.imageModalFull {
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  background-color: #00000051;
}

.imageModalContent {
  position: relative;
  width: auto;
  height: auto;
  max-height: 90vh;
  background-color: var(--white-primary);
}

.imageModalContent img {
  width: 100%;
  height: 100%;
}

.imageModalContentClose {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -25px;
  right: -25px;
  background-color: var(--white-primary);
}

@media (max-width: 650px) {
  .inputStyleDouble {
    max-width: 100%;
  }
}

/* ************************* UPLOAD MODAL */

.contentUploadModal {
  width: 50vw;
  min-width: 700px;
  min-height: 60vh;
  height: auto;
  position: relative;
  background-color: var(--white-primary);
  border-radius: 15px;
  z-index: 10;
}

.contentUploadBox {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #dadada;
  padding: 30px 40px;
}

.contentUploadLine {
  border-radius: 10px;
  border: 1px solid #dadada;
  padding: 5px 20px;
  width: 100%;
  justify-content: space-between;
}

.uploadLabel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fileInput {
  display: none;
}

.uploadList {
  width: 100%;
  gap: 10px;
  overflow-y: auto;
  height: auto;
  max-height: 300px;
  justify-content: flex-start;
}

.uploadListLine {
  width: 100%;
  border-radius: 7px;
  min-height: 30px;
  height: 30px;
  border: 1px var(--grey-ligth) solid;
  justify-content: flex-start;
  position: relative;
}
.uploadListFirstLine {
  width: 100%;
  border-radius: 7px;
  min-height: 30px;
  height: 30px;
  border: 1px var(--grey-ligth) solid;
  justify-content: flex-start;
  background-color: var(--white-secondary);
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}
.uploadListItemName {
  width: 25%;
  overflow: hidden;
  text-align: left;
}
.uploadListItemDoc {
  width: 20%;
  overflow: hidden;
  text-align: left;
}

.uploadConfigbtn {
  position: absolute;
  right: 10px;
  width: 22px;
  height: 22px;
  background-color: var(--orange-primary);
  border-radius: 4px;
  z-index: 3;
  cursor: pointer;
}

@media (max-width: 810px) {
  .contentUploadModal {
    width: 90%;
    min-width: 90vw;
    min-height: 80vh;
    height: 80vh;
  }
}
