.adminUsersMain {
  width: 100%;
  height: 100%;
  padding: 10px 30px 20px 30px;
}
.adminUsersContent {
  background-color: var(--white-primary);
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: var(--shad-ligth);
}
.adminUsersHeader {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0 3vw;
}
.adminUsersTitle {
  width: 100%;
  justify-content: flex-start;
}
.adminUsersTitle h1 {
  font-size: 22px;
}
.adminUsersAdd {
  width: 250px;
  justify-content: flex-end;
}
.adminUsersAdd button {
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}
.adminUsersUl {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  overflow-x: hidden;
  overflow-y: auto;
}
.userLineTitle {
  width: 100%;
  height: 40px;
  flex-wrap: nowrap;
  border-radius: 8px;
  border: 1px solid var(--grey-ligth);
  justify-content: flex-start;
  padding: 5px 10px;
  position: relative;
  background-color: var(--blue-secondary);
}
.userLineTitle p {
  font-size: 16px;
  font-weight: 600;
  color: var(--white-primary);
  white-space: nowrap;
}
.userLine {
  width: 100%;
  height: 40px;
  flex-wrap: nowrap;
  border-radius: 8px;
  border: 1px solid var(--grey-ligth);
  justify-content: flex-start;
  padding: 5px 10px;
  position: relative;
}
.userLine p {
  font-size: 15px;
  white-space: nowrap;
}
.userIdLi {
  width: 5%;
  text-align: center;
  font-weight: 500;
}
.userNameLi {
  width: 20%;
  padding-left: 15px;
  font-weight: 500;
}
.userDocLi {
  width: 145px;
  padding-left: 15px;
  font-weight: 500;
}
.userPhoneLi {
  width: 125px;
  padding-left: 15px;
  font-weight: 500;
}
.userEmailLi {
  width: auto;
  padding-left: 15px;
  font-weight: 500;
}
.userConfigbtns {
  position: absolute;
  gap: 10px;
  top: 50%;
  right: 20px;
  width: auto;
  height: auto;
  transform: translateY(-50%);
}
.userConfigbtn {
  width: 28px;
  height: 28px;
  background-color: var(--orange-primary);
  border-radius: 8px;
  z-index: 3;
  cursor: pointer;
}
.userConfigbtn:hover {
  background-color: var(--orange-secondary);
}
.userConfigIcon {
  width: 20px;
  height: 20px;
}
.userLine1150 {
  display: flex;
  height: 100%;
}
.userLine650 {
  display: flex;
  height: 100%;
}
.userAdminDoubleInputs {
  width: 100%;
  gap: 20px;
}

.adminUsersUlTitle {
  overflow: hidden;
  width: 95%;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.adminUsersUlTitle h3 {
  font-size: 16px;
  font-weight: 600;
}
.companyBtnDiv {
  width: 100%;
}
.companyBtnDiv button {
  min-width: 180px;
  height: 100%;
  font-weight: 500;
}

@media (max-width: 1300px) {
  .userIdLi {
    width: 4%;
    text-align: center;
    font-weight: 500;
  }
  .userNameLi {
    width: 15%;
    min-width: 135px;
    padding-left: 7px;
    overflow: hidden;
  }
  .userDocLi {
    width: 135px;
    padding-left: 7px;
    overflow: hidden;
  }
  .userPhoneLi {
    width: 110px;
    padding-left: 7px;
    overflow: hidden;
  }
  .userEmailLi {
    width: auto;
    min-width: 300px;
    padding-left: 7px;
    font-weight: 500;
    overflow: hidden;
  }
}
@media (max-width: 1150px) {
  .userIdLi {
    display: none;
  }
  .userLine1150 {
    display: none;
  }
  .userDocLi {
    display: none;
  }
  .userDocLine {
    display: none;
  }
}

@media (max-width: 650px) {
  .userLine650 {
    display: none;
  }
  .userPhoneLi {
    display: none;
  }
  .userNameLi {
    width: 15%;
    min-width: 135px;
    padding-left: 0;
    overflow: hidden;
  }
  .userEmailLi {
    width: auto;
    min-width: auto;
    padding-left: 7px;
    font-weight: 500;
    overflow: hidden;
  }
  .adminUsersMain {
    padding: 10px;
    box-shadow: var(--shad-3d);
  }
  .userAdminDoubleInputs {
    width: 100%;
    gap: 10px;
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .adminUsersHeader {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 1vw;
  }
  .adminUsersTitle h1 {
    font-size: 18px;
  }
  .userNameLi {
    width: 100px;
    min-width: 100px;
    padding-left: 0;
    overflow: hidden;
  }
}
@media (max-width: 370px) {
  .adminUsersTitle h1 {
    font-size: 16px;
  }
}
