.clienteMain {
  width: 100%;
  height: 100%;
  padding: 10px 30px 20px 30px;
}
.clienteContent {
  background-color: var(--white-primary);
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: var(--shad-ligth);
}
.clienteUl {
  width: 100%;
  height: 100%;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 10px;
  margin-top: 30px;
  overflow-x: hidden;
  overflow-y: auto;
}
.clienteTitle {
  width: 100%;
  height: 40px;
  flex-wrap: nowrap;
  border-radius: 8px;
  border: 1px solid var(--grey-ligth);
  justify-content: flex-start !important;
  padding: 5px 10px;
  position: relative;
  background-color: var(--blue-secondary);
}
.clienteTitle p {
  font-size: 16px;
  font-weight: 600;
  color: var(--white-primary);
  white-space: nowrap;
}

.clienteLine {
  width: 100%;
  height: 40px;
  flex-wrap: nowrap;
  border-radius: 8px;
  border: 1px solid var(--grey-ligth);
  justify-content: flex-start !important;
  padding: 5px 10px;
  position: relative;
}
.clienteIdLi {
  width: 5%;
  min-width: 40px;
  text-align: center;
  font-weight: 500;
}
.clienteAvaibleLi {
  width: 10%;
  min-width: 140px;
  text-align: center;
  font-weight: 500;
  padding-left: 10px;
}

.clienteTypeLi {
  width: 10%;
  min-width: 140px;
  text-align: center;
  font-weight: 500;
  padding-left: 10px;
}
.eventNameLi {
  width: 200px;
  min-width: 200px;
  padding-left: 15px;
  font-weight: 500;
}
.eventDateLi {
  width: 100%;
  padding-left: 15px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
}

.displayNone700 {
  display: flex;
  width: auto;
  height: 100%;
}

@media (max-width: 1060px) {
  .eventDateLi {
    display: none;
  }
}

@media (max-width: 700px) {
  .clienteIdLi {
    display: none;
  }
  .displayNone700 {
    display: none;
  }
  .clienteMain {
    padding: 10px;
  }
}

@media (max-width: 570px) {
  .clienteTypeLi {
    display: none;
  }
}
@media (max-width: 430px) {
  .clienteAvaibleLi {
    width: auto;
    min-width: auto;
    text-align: center;
    padding-left: 5px;
  }
  .eventNameLi {
    width: 180px;
    min-width: 180px;
    padding-left: 5px;
    overflow: hidden;
  }
}

@media (max-width: 360px) {
  .eventNameLi {
    width: 150px;
    min-width: 150px;
  }
}
